In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

In [47]:
# load data
names = ['TripID', 'MMSI', 'StartLatitude', 'StartLongitude', 'StartTime', 'EndLatitude', 'EndLongitude', 'EndTime',
         'StartPort', 'EndPort', 'ID', 'time', 'shiptype', 'Length', 'Breadth', 'Draught', 'Latitude', 'Longitude',
         'SOG', 'COG', 'TH', 'Destination', 'Name', 'Callsign', 'AisSourcen']
ais = pd.read_csv('rotterdam_hamburg.arff', names = names, skiprows = 27, parse_dates = True, index_col = 'ID',
                 dtype = {'TripID': str, 'MMSI': str, 'shiptype': str})

In [48]:
ais.head()

,TripID,MMSI,StartLatitude,StartLongitude,StartTime,EndLatitude,EndLongitude,EndTime,StartPort,EndPort,...,Draught,Latitude,Longitude,SOG,COG,TH,Destination,Name,Callsign,AisSourcen
ID,,,,,,,,,,,,,,,,,,,,,
39110154,21109,210481000,51.94,4.05,'2016-1-21 04:32',53.53,9.91,'2016-1-22 06:04',ROTTERDAM,HAMBURG,...,10.64,53.95,7.82,14.7,81.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a
39112959,21109,210481000,51.94,4.05,'2016-1-21 04:32',53.53,9.91,'2016-1-22 06:04',ROTTERDAM,HAMBURG,...,10.64,53.95,7.83,14.7,80.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a
39118599,21109,210481000,51.94,4.05,'2016-1-21 04:32',53.53,9.91,'2016-1-22 06:04',ROTTERDAM,HAMBURG,...,10.64,53.95,7.83,14.7,81.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a
39123728,21109,210481000,51.94,4.05,'2016-1-21 04:32',53.53,9.91,'2016-1-22 06:04',ROTTERDAM,HAMBURG,...,10.64,53.95,7.84,14.7,80.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a
39127583,21109,210481000,51.94,4.05,'2016-1-21 04:32',53.53,9.91,'2016-1-22 06:04',ROTTERDAM,HAMBURG,...,10.64,53.95,7.85,14.7,81.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a

In [51]:
ais['Draught'].unique()

array(['10.64', '12.00', '13.23', '12.83', '?', '6.29', '13.60', '10.18',
       '9.70', '11.50', '11.60', '6.60', '10.20', '11.00', '6.50', '6.67',
       '9.60', '6.98', '10.75', '13.65', '11.30', '6.56', '9.71', '12.95',
       12.95, 6.98, 10.3, 13.36, 3.83, 12.14, 10.75, 11.75, 10.22, 9.71,
       9.8, 13.1, 12.83, 4.72, 10.51, 10.44, 13.72, 13.65, 4.28, 5.6, 9.6,
       3.7, 4.88, 12.1, 12.0, 4.2, 5.3, 10.0, 9.9, '9.90', '10.30',
       '10.00', '6.00', '6.63', '3.70', '4.72', '3.60', '9.50', '10.50',
       '13.94', '8.94', '10.22', '10.46', '3.80', '10.40', '12.66', '4.80',
       '11.68', '10.06', '13.34', '13.38', '4.69', '11.57', '6.18',
       '13.20', '13.85', '10.87', '4.84', '5.60', '8.40', '6.53', '11.28',
       '4.90', 8.4, 6.4, 6.53, 14.1, 13.94, 8.0, 10.73, 14.0, 13.9, 8.1,
       7.4, 6.0, 8.94, 7.0, 10.4, 11.28, 5.5, 7.1, 6.5, 7.2, 8.3, 6.13,
       6.1, 8.5, 9.0, 8.6, 8.2, 7.3, 6.7, 7.08, 9.33, 13.85, 10.34, 9.15,
       9.42, '9.42', '14.17', '5.25', '4.21', '3.62', '6.62', '9.15',
       '8.50', '10.10', '10.70', '14.16', '9.33', 11.5, 12.66, 10.1, 11.68,
       11.0, 14.16, 13.04, 11.9, 10.7, 10.5, 9.7, 9.2, 6.2, 13.5, 13.6,
       13.38, 10.9, 11.2, 10.21, 7.84, 13.23, 4.82, '4.82', '10.21',
       '10.66', '12.94', '11.76', '13.05', '6.12', '13.56', '4.26', '7.84',
       '13.55', '10.09', '13.47', '9.77', '12.22', '13.03', '5.10',
       '13.10', '12.10', 13.03, 13.05, 13.56, 12.94, 11.21, 10.66, 12.8,
       13.4, 6.16, 14.83, 9.5, 12.4, 5.4, 3.5, 3.86, 11.25, 7.58, 9.34,
       13.97, 13.08, 11.02, 10.35, 9.84, 12.84, 13.55, 9.67, 10.93, 11.1,
       9.1, 6.8, 11.8, 11.3, 11.4, 11.7, 10.2, '11.10', '9.10', '9.11',
       '8.70', '11.25', '13.50', '11.40', '10.93', '7.58', '8.98', '9.44',
       '7.42', '10.07', '8.86', '13.48', '8.49', '10.52', '11.43', '9.51',
       '9.84', '12.58', 12.58, 7.42, 8.98, 4.7, 9.44, 9.51, 11.35, 10.07,
       7.6, 10.6, 9.37, 12.47, 12.55, 7.16, 12.3, 9.4, 7.7, 7.5, 8.8, 8.9,
       7.9, 0.3, 11.93, 12.61, 8.49, 11.62, 4.41, 3.81, 4.45, 8.51, 10.91,
       3.39, 13.27, 4.85, '13.64', '14.20', '12.76', '6.90', '8.87',
       '13.06', '10.91', '12.98', '3.53', '3.30', '11.20', '7.40', '4.48',
       '13.27', '8.00', '3.90', '4.00', '14.04', '13.80', '7.10', 3.53,
       9.11, 14.04, 7.81, 12.64, 13.67, 8.74, 6.51, 4.54, '6.51', '7.81',
       '4.54', '9.37', '12.99', '12.42', '7.70', '6.15', '6.20', '11.70',
       '11.22', '9.95', '10.60', '7.90', '4.40', '5.74', '12.80', '11.56',
       '4.52', '13.88', '8.74', 12.42, 9.66, 11.51, 13.8, 11.49, 13.51,
       13.88, 3.76, 9.86, 12.86, 13.43, 5.2, 13.21, 11.6, 3.6, 3.2, 8.07,
       14.15, 12.6, 8.73, 3.23, 8.31, 10.23, 11.43, 12.27, 7.61, 7.22,
       13.31, 11.09, 11.23, 6.18, 13.59, 4.39, 13.71, 12.5, 4.4, 3.71,
       13.3, '10.90', '7.30', '7.22', '12.50', '2.80', '12.20', '10.80',
       '3.24', '8.31', '8.79', '11.37', '12.28', '14.06', '13.43', '13.46',
       '10.33', '8.01', '12.86', '6.25', '11.31', '13.37', '9.80', '13.07',
       '4.30', '4.99', '9.00', '10.17', '9.63', '13.40', '12.70', '12.90',
       '10.23', '5.80', '9.20', '9.30', '5.90', '8.60', '13.63', '8.72',
       '11.03', '9.67', '10.99', '9.82', '11.78', '14.21', '5.16', '10.03',
       '13.30', '13.00', '14.00', '3.89', '7.80', '11.80', '9.96', '11.53',
       '1.64', '9.23', '4.94', '12.07', '10.26', '10.37', '4.53', '13.42',
       '3.65', '10.95', '3.50', '5.70', '8.20', '13.57', '12.60', '6.40',
       '10.25', '12.64', '9.41', '10.08', '6.17', '12.30', '11.90',
       '11.61', '14.83', '5.40', '6.70', '3.86', '13.31', '14.10', '1.47',
       '10.28', '7.50', 3.1, 11.53, 4.8, 3.65, 4.5, 6.9, 13.7, 7.8, 10.8,
       12.7, 6.35, 8.7, 3.0, 4.9, 5.9, 5.7, 9.3, 12.2, 10.64, 6.6, 5.68,
       1.47, 10.08, '13.70', '6.10', '0.60', '6.30', '6.80', '7.00',
       '13.90', '8.10', '9.89', '12.92', '5.18', '12.49', 10.25, 9.63,
       11.61, '4.41', '8.51', '3.20', '4.38', '5.20'], dtype=object)

In [50]:
ais.dtypes

TripID             object
MMSI               object
StartLatitude     float64
StartLongitude    float64
StartTime          object
EndLatitude       float64
EndLongitude      float64
EndTime            object
StartPort          object
EndPort            object
time               object
shiptype           object
Length              int64
Breadth             int64
Draught            object
Latitude          float64
Longitude         float64
SOG               float64
COG               float64
TH                float64
Destination        object
Name               object
Callsign           object
AisSourcen         object
dtype: object