In [10]:
import pandas as pd

In [17]:
# load data
df = pd.read_csv("PY11 rotterdam_hamburg - times to UNIX time.csv", index_col = "ID")

In [21]:
df.head()

,Unnamed: 0,Unnamed: 0.1,TripID,MMSI,StartLatitude,StartLongitude,StartTime,EndLatitude,EndLongitude,EndTime,...,Latitude,Longitude,SOG,COG,TH,Destination,Name,Callsign,AisSourcen,remainingETT
0,0,0,21109,210481000.0,51.94,4.05,1.453347e+09,53.53,9.91,1.453439e+09,...,53.95,7.82,14.7,81.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a,28800000.0
1,1,1,21109,210481000.0,51.94,4.05,1.453347e+09,53.53,9.91,1.453439e+09,...,53.95,7.83,14.7,80.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a,28740000.0
2,2,2,21109,210481000.0,51.94,4.05,1.453347e+09,53.53,9.91,1.453439e+09,...,53.95,7.83,14.7,81.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a,28680000.0
3,3,3,21109,210481000.0,51.94,4.05,1.453347e+09,53.53,9.91,1.453439e+09,...,53.95,7.84,14.7,80.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a,28620000.0
4,4,4,21109,210481000.0,51.94,4.05,1.453347e+09,53.53,9.91,1.453439e+09,...,53.95,7.85,14.7,81.0,80.0,HAMBURG,CMA.CGM.SAMBHAR,5BND2,H7001.DAIS1.81b.71.71a,28560000.0